<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title> RZUCZEK </title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    {% endblock %}
</head>
<body>

{% block menu %}

    <div class="topnav">
        <a href="{{url_for('register')}}"> REGISTER </a>
        <a href="{{url_for('login')}}"> LOGIN </a>
        <a href="{{url_for('robot')}}"> ROBOT </a>
    </div>

{% endblock %}

{% block body %}

{%  endblock %}
</body>
</html>
