<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<title>HACKATON ROBOT CONTROL</title>
</head>
<body>
  <div id="container">

    <div id ="name">
        HACKATON ROBOT UNDER TEST
    </div>

    <br><br>
    <div id="data">
        <br>
        Altitude:
        <div id="alt" data-hours="1">Altitude_val</div> <br>
        Temperature:
        <div id="temp" data-hours="1">Temperature_val</div> <br>
        Water:
        <div id="wat" data-hours="1">Water_val</div> <br>
        Distance:
        <div id="dis" data-hours="1">Distance_val</div>
    </div> 

    <br><br>
    
    <div  id="controler-buttons">  
    <button id="A"> A </button>
    <button id="B"> B </button>
    <button id="D"> C </button>
    <button id="E"> D </button>
    </div>

    <div id="controler-directions">
    <button id="left"> Left </button>
    <button id="rigth"> Up </button>
    <button id="up"> Rigth </button>      
    <button id="down"> Down </button>
    </div>
    </div>
    
    </div>
</body>
</html>