body {
    margin: 25px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    font-family: D-Din,Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-weight: bold;
    color: #800002;

}
